{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kazakh National Cuisine</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add your custom CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <!-- Website Logo -->
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="Logo" width="100" height="100">
            </a>
            <!-- Navbar Toggler (for mobile menu) -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar Links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {% if request.path == '/' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item {% if request.path == '/menu/' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'menu' %}">Menu</a>
                    </li>
                    <li class="nav-item {% if request.path == '/about/' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item {% if request.path == '/contact/' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    </li>
                    <!-- Add other navigation links as needed -->
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <!-- Your template content here -->
    {% block content %}
    {% endblock %}
</main>
<footer>
    &copy; 2023 Kazakh National Cuisine | Contact us at info@example.com
</footer>
</body>
</html>
