<!-- kaz_national_cuisine/cuisine/templates/home.html -->

{% extends 'base.html' %}

{% load static %}


{% block content %}
    <div class="home-content slide-background" style="background-image: url('{% static 'images/background.jpg' %}');">
        <h1>Welcome to<br>Kazakh National Cuisine!</h1>
        <p>Discover the Unexplored Flavors and Traditions of the Kazakh Culinary World.</p>
    </div>

    <div class="feature-section">
        <div class="feature-item">
            <h3>Embark on a Culinary Journey</h3>
            <p>
                Explore the rich and diverse history of Kazakh cuisine, a true reflection of the nation's nomadic culture and centuries-old traditions. From the savory delights of Beshbarmak to the exotic taste of Kazy, each dish tells a unique story of its own.
            </p>
        </div>

        <div class="feature-item">
            <h3>Traditional Delicacies</h3>
            <p>
                Immerse yourself in the delightful world of traditional Kazakh dishes. Savor the succulent flavors of hearty meat stews, delicate pastries, and aromatic pilafs. Each recipe is a culinary masterpiece passed down through generations.
            </p>
        </div>

        <div class="feature-item">
            <h3>Rich Cultural Heritage</h3>
            <p>
                Kazakh cuisine is not just about food; it's an integral part of the country's cultural heritage. Experience the warmth of Kazakh hospitality as you indulge in local delicacies served with love and care in the traditional yurt setting.
            </p>
        </div>
    </div>
{% endblock %}

